    h1 {
        color: #273043;
        font-size: 2.2em;
        text-align: center;
    }

    body {
        background-color: #273043;
        color: #EFF6EE;
        font-size: 1.1em;

    }

    h2 {
        color: #ddcb92;
        font-size: 2.1em;
        font-family: 'Kavoon', cursive;
    }

    h4 {
        color: #EFF6EE;
        font-size: 1.2em;
    }

    #left-col {
        background-color: #AFC2D5;
        width: 27.7em;
        height: 100vh;
    }

    #right-col {
        background-color: #273043;
        margin-left: 14em;
    }

    ul {
        list-style: none;
        text-align: center;
    }

    #profile-pic {
        border-radius: 50%;
    }

    a {
        color: #273043;
        font-size: 1.3em;
    }

    #lol {
        font-size: 3.3em;
    }
